header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* hover = comportamento de quando o mouse está por cima do elemento */
/* a:hover = indica o comportamento que queremos mapear na tag a*/
/* Lê-se: quando o mouse estiver por cima dentro do link do menu de navegação */
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* espaçamento em px vai ficar dentro do percentual de 30% total, então vai se ajustar sozinho */
    box-sizing: border-box;
    /* border-color: #000000;
    border-width: 2px;
    border-style: solid; */
    /* Posso substituir por: */
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

/* active = comportamento de quando o elemento está sendo clicado */
.produtos li:active{
    border-color: #088C19;
}

/* Quando o mouse estiver em cima do li o h2 vai mudar o tamanho da fonte */
.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    /* margin-top: 10px poderia fazer assim  */
    margin: 10px 0 0;
}

main{
    /* Deixar conteudo centralizado */
    width: 940px;
    margin: 0 auto;
}

form{
    /* 40px pra cima e pra baixo e 0 pros lados */
    margin: 40px 0;
}

form label, form p{
    /* block = conteudo ocupa 100% da largura da página */
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* form input, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
} */

/* Tivemos que criar uma classe para colocar especifico em alguns inputs porque queremos que os inputs tipo radio não sejam block, mas inline
para que o label fique do lado dele */

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

p{
    color: red;
}

form p{
    color: blue;
}

.teste{
    color: yellow;
}

/* só tag p que tem essa classe vai receber a cor laranja */
p.teste{
    color: orange;
}

#teste{
    color: green;
}

#teste{
    color: pink;
}


footer{
    text-align: center;
    /* Colocando uma imagem de fundo através do seu endereço */
    background: url("bg.jpg");
    padding: 40px 0px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}