body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* hover = comportamento de quando o mouse está por cima do elemento */
/* a:hover = indica o comportamento que queremos mapear na tag a*/
/* Lê-se: quando o mouse estiver por cima dentro do link do menu de navegação */
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* espaçamento em px vai ficar dentro do percentual de 30% total, então vai se ajustar sozinho */
    box-sizing: border-box;
    /* border-color: #000000;
    border-width: 2px;
    border-style: solid; */
    /* Posso substituir por: */
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

/* active = comportamento de quando o elemento está sendo clicado */
.produtos li:active{
    border-color: #088C19;
}

/* Quando o mouse estiver em cima do li o h2 vai mudar o tamanho da fonte */
.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    /* margin-top: 10px poderia fazer assim  */
    margin: 10px 0 0;
}

main{
    
}

form{
    /* 40px pra cima e pra baixo e 0 pros lados */
    margin: 40px 0;
}

form label, form legend{
    /* block = conteudo ocupa 100% da largura da página */
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* form input, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
} */

/* Tivemos que criar uma classe para colocar especifico em alguns inputs porque queremos que os inputs tipo radio não sejam block, mas inline
para que o label fique do lado dele */

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

/* estilo quando o mouse está por cima */
.enviar:hover{
    background: darkorange;
    /* Que a transição demore um tempo para acontecer */
    /* Tempo da transição e quem vai sofrer a transição */
    /* all = transição de todos os elementos */
    transition: 1s all;
    cursor: pointer;
    /* Tranforma o
    scale = elemento e tudo dentro dele aumenta em escala */
    /* rotate = gira o elemento - 360deg é 360 graus*/ 
    transform: rotate(360deg) scale(1.2);

}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* css da imagem banner da página inicial */
.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    /* quero que o tamanho da fonte do titulo principal seja o dobro do tamanho da fonte padrão da pagina */
    /* em é a medida proporcional para pixel */
    /* Se eu tenho uma fonte padrão como 15px, quando eu coloco 2em no meu título principal, 
    isso quer dizer que são 2x o tamanho base*/
    /* Nesse caso o em vai multiplicar por 2 o font-size padrão do seu elemento pai que é */
    font-size: 2em;
    /* Estamos criando uma margen pra baixo proporcional ao tamanho da fonte do conteúdo titulo-principal */
    margin: 0 0 1em;
    /* Limpa o float a esquerda que estiver acima dessa classe */
    clear: left;

    /* Podemos definir opacidade para cor com o rgba onde a camada a é a alfa que é uma camada de opacidade */
    /* color: rgba(0, 0, 0, 0.3); */

    /* Podemos criar sombras em texto */
    /* text-shadow: 2px 2px 20px #000000; */
}

/* Usando pseudo elementos para marcar a primeira letra do texto em negrito */
/* PSEUDO-ELEMENTOS = São elementos que criamos via css que não existem no html. */
/* .titulo-principal::first-letter{
    font-weight: bold;
} */

/* Eles criam um espaço que o css pode ser utilizado antes do elemento e depois do elemento
.titulo-principal::before{
    content: "[ ";
}

.titulo-principal::after{
    content: " ]"
} */


/* Definindo todas as primeiras linhas do parágrafo como italic */
/* p::first-line{
    font-style: italic;
} */

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    /* Deixar conteudo centralizado */
    width: 940px;
    margin: 0 auto;
}

/* Estamos criando uma margen pra baixo proporcional ao tamanho da fonte do conteúdo p */
.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    /* O elemento com o float vai ficar destacado da página porém sua sombra continua na mesma posição
    os elementos abaixo vão subir e respeitar essa sombra pois ficarão a volta dele */
    /* Porém todos os elementos abaixo do float passam a ser afetados por ele */
    /* Para o float não afetar os elementos de baixo, esses elementos tem que ter a propriedade clear
    que limpa o float */
    float: left;
    /* cima - direita - baixo - esquerda */
    margin: 0 20px 20px 0; 
}

.mapa{
    padding: 3em 0;
    /* linear-gradient = define uma cor gradiente que vai do laranja para o azul */
    /* 90deg é o grau de inclinação do gradiente */
    /* As porcentagens após a cor é para dizer onde vai começar o degradê */
    /* background: linear-gradient(90deg, orange 50%, blue 70%, red); */
    /* background: radial-gradient(orange 50%, blue 70%, red); */
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #888888;

    /* Criando uma sombra interna com inset*/
    /* Ela vai ser posiciona a partir do centro e por isso tem 0 para os dois eixos */
    /* Os 30px é porque se criarmos uma sombra no mesmo tamanho do elemento e então ela pecisa desse espaçamento para funcionar
    Então ela vai se uma sombra de 30px*/
    /* box-shadow: inset 0 0 30px #000000; */
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

/* A lista é um elemento inline, mas o item da lista é block */
/* Então colocamos o display inline-block */
/* O inline-block interpreta tudo que colocarmos, incluse o espaço vazio que está no html, então quando queremos usar ele, mas
usar 100% da largura, esses elementos no html tem que ficar colados para que esse espaço nao reflita na exibição na nossa página */
.lista-beneficios{
    width: 40%;
    display: inline-block;
    /* lista alinhada pela parte de cima */
    vertical-align: top;
}

.itens{
    /* Mudando a altura da linha */
    /* A altura é proporcionao ao tamanho da fonta que é 1, mas queremos que ela seja 1,5, ou seja, 100% da fonte + 50% */
    line-height: 1.5;
}

/* Usando pseudo-elementos para marcar em negrito o primeiro item */
.itens:first-child{
    font-weight: bold;
} 

.itens::before{
    content:"🟊";
}

/* Há como selecionar qualquer elemento da lista passando o número que queremos */
/* Ou usando o valor de n - 2n = pega todos os elementos par */
/* 2n + 1 = pega todos os ímpares */
/* .itens:nth-child(2n){
    font-weight: bold;
} */

.imagem-beneficios{
    width: 60%;

    /* Opacity = é uma camada posta em cima de um elemento que me permite ver mais ou menos esse elemento */
    /* A opacity vai de 0 (não ver nada do elemento) a 1 (ver o elemento completamente) */
    /* 70% visivel e 30% de opacity */
    /* opacity: 0.7; */
    opacity: 1;

    /* box-shadow serve para adicionar sombra ao elemento */
    /* Eixo X, Eixo Y e a cor */
    /* ou  Eixo X, Eixo Y, grau de espalhamento dessa sombra onde ela vai ter uma quantidade de pixels para ir do sólido para o transparente
     e a cor*/
    /* Eixo X, Eixo Y, espalhamento, intensidade da borda (a partir do tamanho do elemento o quão mais ela vai se espalhar) e a cor */
    /* box-shadow: 10px 10px 30px 20px #000000, -10px -10px yellow, -20px 20px rgba(255,0,0,0.5); */
    box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover{
    opacity: 0.3;
    transition: 1s;
}

.video{
    width: 560px;
    margin: 2em auto;
}

footer{
    text-align: center;
    /* Colocando uma imagem de fundo através do seu endereço */
    background: url("bg.jpg");
    padding: 40px 0px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/* Com os seletores avançados do css eu tenho a possibilidade de selecionar os filhos diretos */
/* Usando o sinal de maior estamos selecionando todas as tags p que são filhas direto do main */
/* main > p{
    background: red;
} */

/* Selecionando só o parágrafo que vem depois de uma imagem */
/* img + p {
    background: blue;
} */

/* Selecionando só o parágrafo que vem depois de uma imagem filhos da main */
/* main img + p {
    background: blue;
} */

/* Selecionando todos os p que vem depois da tag img dentro do main */
/* main img ~p{
    background: green;
} */

/* Na class principal selecionar todas as tag p que não tem o id missao */
/* .principal p:not(#missao){
    background: pink;
} */

/* Para telas até 480px precisamos entregar um estilo diferente */
/* Fazemos isso através das mídias queries, eu vou perguntar ao meu navegador qual o tamanho daquela tela  e se for o tamanho que eu quero
eu entrego um estilo diferente*/
/* screen = é o valor que eu quero usar, existe print, por exemplo, para impressora */
/*  */
@media screen and (max-width: 480px){
   .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos {
       width: auto;
   }

   .principal form, table{
       margin-left: 2em;
   }

   .enviar{
       width: 50%;
   }

   .caixa h1{
       text-align: center;
   }

   .caixa nav{
        position: static;
   }

   .lista-beneficios, .imagem-beneficios{
       width: 100%;
   }

    .produtos li {
        display: block;
        width: auto;
        margin: 2em 2em;
    }

    .produtos img{
        width: auto;
    }

    .produtos li h2, .produto-descricao, .produto-preco{
        font-size: 2em;
    }

    form input{
        width: auto;
    }
}